{
   "branches":[
      "main"
   ],
   "plugins":[
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      ["@semantic-release/exec", {
        "prepareCmd": "/bin/bash scripts/update-version-python.sh ${nextRelease.version} version.py"
      }],      
      [
        "@semantic-release/git", 
        {
          "assets": ["CHANGELOG.md","version.py"],
          "message": "chore(release): ${nextRelease.version}  \n\n${nextRelease.notes}"
        }
      ]
   ]
}
